/*
This file is used to contain all vendor imports.
*/
@import url(github.com/necolas/normalize.css/);
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
header .title {
  font-size: 30px;
}
@media screen and (min-width: 500px) {
  header .title {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  header .title {
    font-size: 50px;
  }
}
@media screen and (min-width: 900px) {
  header .title {
    font-size: 60px;
  }
}
@media screen and (min-width: 1024px) {
  header .title {
    font-size: 70px;
  }
}
@media screen and (min-width: 1280px) {
  header .title {
    font-size: 80px;
  }
}
@media screen and (min-width: 1440px) {
  header .title {
    font-size: 90px;
  }
}

.menu-burger ul li, .top-menu, header .header-button {
  font-size: 5px;
}
@media screen and (min-width: 500px) {
  .menu-burger ul li, .top-menu, header .header-button {
    font-size: 7px;
  }
}
@media screen and (min-width: 768px) {
  .menu-burger ul li, .top-menu, header .header-button {
    font-size: 9px;
  }
}
@media screen and (min-width: 900px) {
  .menu-burger ul li, .top-menu, header .header-button {
    font-size: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .menu-burger ul li, .top-menu, header .header-button {
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-burger ul li, .top-menu, header .header-button {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .menu-burger ul li, .top-menu, header .header-button {
    font-size: 17px;
  }
}

.top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
  width: 5px;
}
@media screen and (min-width: 500px) {
  .top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
    width: 7px;
  }
}
@media screen and (min-width: 768px) {
  .top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
    width: 9px;
  }
}
@media screen and (min-width: 900px) {
  .top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
    width: 11px;
  }
}
@media screen and (min-width: 1024px) {
  .top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
    width: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
    width: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .top-menu .top-info .mask1, .top-menu ul img, .burger-button label img, .header-button img {
    width: 17px;
  }
}

.top-menu .top-logo {
  width: 30px;
}
@media screen and (min-width: 500px) {
  .top-menu .top-logo {
    width: 50px;
  }
}
@media screen and (min-width: 768px) {
  .top-menu .top-logo {
    width: 70px;
  }
}
@media screen and (min-width: 900px) {
  .top-menu .top-logo {
    width: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .top-menu .top-logo {
    width: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .top-menu .top-logo {
    width: 130px;
  }
}
@media screen and (min-width: 1440px) {
  .top-menu .top-logo {
    width: 150px;
  }
}

.burger-button label, .header-button {
  padding: 3px;
  border-radius: 2px;
}
@media screen and (min-width: 500px) {
  .burger-button label, .header-button {
    padding: 5px;
    border-radius: 3px;
  }
}
@media screen and (min-width: 768px) {
  .burger-button label, .header-button {
    padding: 7px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 900px) {
  .burger-button label, .header-button {
    padding: 9px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .burger-button label, .header-button {
    padding: 11px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1280px) {
  .burger-button label, .header-button {
    padding: 13px;
    border-radius: 7px;
  }
}
@media screen and (min-width: 1440px) {
  .burger-button label, .header-button {
    padding: 15px;
    border-radius: 8px;
  }
}

header .title img {
  width: 40px;
  top: 30px;
}
@media screen and (min-width: 500px) {
  header .title img {
    width: 50px;
    top: 40px;
  }
}
@media screen and (min-width: 768px) {
  header .title img {
    width: 60px;
    top: 50px;
  }
}
@media screen and (min-width: 900px) {
  header .title img {
    width: 70px;
    top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  header .title img {
    width: 80px;
    top: 70px;
  }
}
@media screen and (min-width: 1280px) {
  header .title img {
    width: 90px;
    top: 80px;
  }
}
@media screen and (min-width: 1440px) {
  header .title img {
    width: 100px;
    top: 90px;
  }
}

.section-title .back-title {
  font-size: 50px;
}
.section-title h2 {
  font-size: 15px;
}
.section-title h3 {
  font-size: 5px;
}
.section-title img {
  width: 40px;
}
@media screen and (min-width: 500px) {
  .section-title .back-title {
    font-size: 70px;
  }
  .section-title h2 {
    font-size: 18px;
  }
  .section-title h3 {
    font-size: 7px;
  }
  .section-title img {
    width: 50px;
  }
}
@media screen and (min-width: 768px) {
  .section-title .back-title {
    font-size: 90px;
  }
  .section-title h2 {
    font-size: 21px;
  }
  .section-title h3 {
    font-size: 9px;
  }
  .section-title img {
    width: 60px;
  }
}
@media screen and (min-width: 900px) {
  .section-title .back-title {
    font-size: 110px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .section-title h3 {
    font-size: 11px;
  }
  .section-title img {
    width: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .section-title .back-title {
    font-size: 130px;
  }
  .section-title h2 {
    font-size: 27px;
  }
  .section-title h3 {
    font-size: 13px;
  }
  .section-title img {
    width: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title .back-title {
    font-size: 150px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .section-title h3 {
    font-size: 15px;
  }
  .section-title img {
    width: 90px;
  }
}
@media screen and (min-width: 1440px) {
  .section-title .back-title {
    font-size: 170px;
  }
  .section-title h2 {
    font-size: 33px;
  }
  .section-title h3 {
    font-size: 17px;
  }
  .section-title img {
    width: 100px;
  }
}

.empty-button {
  font-size: 3px;
  padding: 3px;
  border-radius: 2px;
}
.empty-button img {
  width: 3px;
}
@media screen and (min-width: 500px) {
  .empty-button {
    font-size: 5px;
    padding: 5px;
    border-radius: 3px;
  }
  .empty-button img {
    width: 5px;
  }
}
@media screen and (min-width: 768px) {
  .empty-button {
    font-size: 7px;
    padding: 7px;
    border-radius: 4px;
  }
  .empty-button img {
    width: 7px;
  }
}
@media screen and (min-width: 900px) {
  .empty-button {
    font-size: 9px;
    padding: 9px;
    border-radius: 5px;
  }
  .empty-button img {
    width: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .empty-button {
    font-size: 11px;
    padding: 11px;
    border-radius: 6px;
  }
  .empty-button img {
    width: 11px;
  }
}
@media screen and (min-width: 1280px) {
  .empty-button {
    font-size: 13px;
    padding: 13px;
    border-radius: 7px;
  }
  .empty-button img {
    width: 13px;
  }
}
@media screen and (min-width: 1440px) {
  .empty-button {
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
  }
  .empty-button img {
    width: 15px;
  }
}

.about-us .container-img .item-img .out-of-bound {
  border: solid rgb(255, 255, 255);
  border-width: 10px;
}
@media screen and (min-width: 500px) {
  .about-us .container-img .item-img .out-of-bound {
    border-width: 12px;
  }
}
@media screen and (min-width: 768px) {
  .about-us .container-img .item-img .out-of-bound {
    border-width: 14px;
  }
}
@media screen and (min-width: 900px) {
  .about-us .container-img .item-img .out-of-bound {
    border-width: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .about-us .container-img .item-img .out-of-bound {
    border-width: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us .container-img .item-img .out-of-bound {
    border-width: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .about-us .container-img .item-img .out-of-bound {
    border-width: 22px;
  }
}

.about-us .container-content .img-item {
  max-height: 120px;
}
.about-us .container-content p {
  font-size: 8px;
}
@media screen and (min-width: 500px) {
  .about-us .container-content .img-item {
    max-height: 190px;
  }
  .about-us .container-content p {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .about-us .container-content .img-item {
    max-height: 260px;
  }
  .about-us .container-content p {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  .about-us .container-content .img-item {
    max-height: 330px;
  }
  .about-us .container-content p {
    font-size: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .about-us .container-content .img-item {
    max-height: 400px;
  }
  .about-us .container-content p {
    font-size: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us .container-content .img-item {
    max-height: 470px;
  }
  .about-us .container-content p {
    font-size: 33px;
  }
}
@media screen and (min-width: 1440px) {
  .about-us .container-content .img-item {
    max-height: 540px;
  }
  .about-us .container-content p {
    font-size: 38px;
  }
}

/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
body {
  margin: 0;
}

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
.header-button {
  border: solid lightgrey;
  border-width: 0.5px;
}
.header-button img {
  filter: invert(1);
  margin-left: 2px;
  vertical-align: middle;
}

.header-button:hover {
  background-color: rgb(186, 153, 91);
  border-color: rgba(255, 255, 255, 0);
  color: white;
}

.empty-button {
  border: solid lightgrey;
  border-width: 1px;
  font-family: Open Sans;
  text-transform: uppercase;
}
.empty-button img {
  margin-left: 2px;
  vertical-align: middle;
}

.empty-button:hover {
  background-color: rgb(186, 153, 91);
  border-color: rgba(255, 255, 255, 0);
  color: white;
}

.empty-button:hover img {
  filter: invert(1);
}

.burger-button #menu-toggle {
  position: absolute;
  left: -100vw;
}
.burger-button label {
  background-color: rgb(186, 153, 91);
  text-transform: uppercase;
}
.burger-button label img {
  filter: invert(1);
  margin-left: 2px;
  vertical-align: middle;
}

header:has(#menu-toggle:not(:checked)) .menu-burger {
  display: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
header {
  color: white;
  background-image: linear-gradient(to right bottom, rgb(0, 0, 0) 25%, rgba(255, 255, 255, 0)), url(../assets/images/slider/img_bg_slider_home01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 10%;
  margin-right: 0;
}
header .title {
  margin-left: 10%;
  line-height: 10px;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
}
header .title img {
  margin-left: 25px;
  position: absolute;
}
header .header-button {
  margin-left: 10%;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Open Sans;
  text-transform: uppercase;
}

.top-menu {
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.top-menu ul {
  display: flex;
  list-style-type: none;
  padding: 0%;
  gap: 10px;
}
.top-menu ul img {
  filter: invert(1);
  vertical-align: middle;
}
.top-menu .top-info {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}
.top-menu .top-info .mask1 {
  aspect-ratio: 1/1;
  background-color: rgb(186, 153, 91);
  -webkit-mask-image: url(../assets/images/Other/telephone.png);
  mask-image: url(../assets/images/Other/telephone.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  transform: rotate(-90deg);
}

.menu-burger {
  float: right;
  background: rgb(82, 82, 82);
  height: 100%;
  border: solid lightgray;
  border-width: 1.5px;
  margin-left: 10px;
}
.menu-burger ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.menu-burger ul li {
  border: solid lightgray;
  border-width: 1px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.section-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
}
.section-title .back-title {
  position: absolute;
  z-index: -1;
  top: 0;
  color: rgba(223, 188, 123, 0.196);
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  margin: 0;
  align-self: flex-start;
}
.section-title h2 {
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 5%;
}
.section-title h3 {
  font-family: open sans;
  font-weight: 500;
  margin-top: 0;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us .container-img {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  margin-top: -5%;
}
.about-us .container-img .item-img {
  text-align: center;
}
.about-us .container-img .item-img img {
  width: 100%;
}
.about-us .container-img .item-img .out-of-bound {
  border-radius: 50%;
  box-sizing: border-box;
}
.about-us .section-title img {
  position: absolute;
  right: 10%;
  top: 25%;
}
.about-us .container-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin-top: 5%;
  align-items: center;
  gap: 10px;
}
.about-us .container-content .img-item {
  grid-column: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  align-self: center;
  justify-self: center;
}
.about-us .container-content p {
  grid-column: 2;
  font-family: "Forum";
}
.about-us .container-content .empty-button {
  grid-column: 2;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.our-menu {
  background-color: rgba(223, 199, 154, 0.196);
  margin-top: 5%;
  position: relative;
}
.our-menu .menu-img1 {
  position: absolute;
  z-index: -1;
  right: 0;
  max-height: 100%;
  width: auto;
}/*# sourceMappingURL=style.css.map */