// Button no background + hover orange
.empty-button
{
    border: solid lightgrey;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;

    img
    {
        filter: invert(1);
        width: 12px;
        margin-left: 10px;
        vertical-align: middle;
    }
}

.empty-button:hover
{
    background-color: orange;
    border-color: rgba(255, 255, 255, 0);
}