// Button no background + hover orange
.empty-button
{
    border: solid lightgrey;
    border-width: 1px;
    font-family: Open Sans;
    text-transform: uppercase;
    @extend %empty-button-size;

    img
    {
        margin-left: 2px;
        vertical-align: middle;
    }
}

.empty-button:hover
{
    background-color: $orange;
    border-color: rgba(255, 255, 255, 0);
    color: white;
}

.empty-button:hover img
{
    filter: invert(1);
}