// Button header + hover orange
.header-button
{
    border: solid lightgrey;
    border-width: 0.5px;
    @extend %header-button-size;

    img
    {
        filter: invert(1);
        @extend %header-img-size;
        margin-left: 2px;
        vertical-align: middle;
    }
}

.header-button:hover
{
    background-color: $orange;
    border-color: rgba(255, 255, 255, 0);
    color: white;
}