// Footer contact section
.contact-footer
{
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 5px;

    .mask1
    {
        margin-top: 40%;
        @include mask("../assets/images/Other/location.png", 0);
    }
    .mask2
    {
        margin-top: 40%;
        @include mask("../assets/images/Other/envelope.png", 0);
    }
    .mask3
    {
        margin-top: 40%;
        @include mask("../assets/images/Other/telephone.png", -90deg);
    }
    .mask4
    {
        margin-top: 40%;
        @include mask("../assets/images/Other/time.png", 0);
    }
}