//Header
header
{
    color: white;
    background-image: url(../assets/images/slider/img_bg_slider_home01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 50px;

    .title
    {
        margin-left: 80px;
        font-size: 60px;
        line-height: 10px;

        img
        {
            width: 85px;
            margin-left: 25px;
            position: absolute;
            top: 50px;
        }
    }

    .empty-button
    {
        margin-left: 80px;
        width: fit-content;
    }
}
