// Header navigation
.top-menu
{
    font-family: 'Open Sans';
    @extend %header-font-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

    .top-logo
    {
        @extend %header-logo-size;
    }
    
    ul
    {
        display: flex;
        list-style-type: none;
        padding: 0%;
        gap: 10px;

        img
        {
            @extend %header-img-size;
            filter: invert(1);
            vertical-align: middle;
        }
    }

    .top-info
    {
        display: flex;
        flex-direction: row;
        gap: 2px;
        align-items: center;

        .mask1
        {
            @extend %header-img-size;
            aspect-ratio: 1/1;
            background-color: $orange;
            -webkit-mask-image: url(../assets/images/Other/telephone.png);
            mask-image: url(../assets/images/Other/telephone.png);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat; 
            mask-size: cover;
            transform: rotate(-90deg);
        }
    }
}