// Section team
.team
{
    width: 100%;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;

    .background
    {
        background-image: url(../assets/images/our-chefs/imgbg-ourchefs.jpg);
        position: absolute;
        z-index: -1;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .section-title
    {
        color: white;
    }

    .team-content
    {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 5%;

        img
        {
            width: 15%; 
        }
    }
}