// Media query
$breakpoints: 
(
  "phone-down": 500px,
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px
);

@mixin media-min($_key)
{
    @media screen and (min-width: map-get($breakpoints, $_key))
    {
        &{@content;}
    }
}

%header-title-font-size
{
    $size: 30px;
    font-size: $size;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size: $size + 10px;
            font-size: $size;
        }
    }
}

%header-font-size
{
    $size: 5px;
    font-size: $size;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size: $size+ 2px;
            font-size: $size;
        }
    }
}

%header-img-size
{
    $size: 5px;
    width: $size;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size: $size + 2px;
            width: $size;
        }
    }
}

%header-logo-size
{
    $size: 30px;
    width: $size;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size: $size + 20px;
            width: $size;
        }
    }
}

%header-button-size
{
    $padding: 3px;
    $radius: 2px;
    padding: $padding;
    border-radius: $radius;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $padding: $padding + 2px;
            $radius: $radius + 1px;
            padding: $padding;
            border-radius: $radius;
        }
    }
}

%header-title-img-size
{
    $size: 40px;
    $offset: 30px;
    width: $size;
    top: $offset;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size: $size + 10px;
            $offset: $offset + 10px;
            width: $size;
            top: $offset;
        }
    }
}

%section-title
{
    $size1: 50px;
    $size2: 10px;
    $size3: 5px;
    $size4: 40px;

    .back-title
    {
        font-size: $size1;
    }
    h2
    {
        font-size: $size2;
    }
    h3
    {
        font-size: $size3;
    }
    img
    {
        width: $size4;
    }

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size1: $size1 + 20px;
            $size2: $size2 + 3px;
            $size3: $size3 + 2px;
            $size4: $size4 + 10px;

            .back-title
            {
                font-size: $size1;
            }
            h2
            {
                font-size: $size2;
            }
            h3
            {
                font-size: $size3;
            }
            img
            {
                width: $size4;
            }
        }
    }
}

%empty-button-size
{
    $size1: 3px;
    $size2: 3px;
    $padding: 3px;
    $radius: 2px;

    font-size: $size1;
    padding: $padding;
    border-radius: $radius;
    img
    {
        width: $size2;
    }

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size1: $size1 + 2px;
            $size2: $size2 + 2px;
            $padding: $padding + 2px;
            $radius: $radius + 1px;

            font-size: $size1;
            padding: $padding;
            border-radius: $radius;
            img
            {
                width: $size2;
            }
        }
    }
}

%about-us-img
{
    $border: 10px;

    border: solid rgb(255, 255, 255);
    border-width: $border;

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $border: $border + 2px;

            border-width: $border;
        }
    }
}

%about-us-content
{
    $size1: 120px;
    $size2: 8px;

    .img-item
    {
        max-height: $size1;
    }
    p
    {
        font-size: $size2;
    }

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size1: $size1 + 70px;
            $size2: $size2 + 5px;

            .img-item
            {
                max-height: $size1;
            }
            p
            {
                font-size: $size2;
            }
        }
    }
}

%our-menu-content
{
    $size1: 8px;
    $size2: 5px;
    $size3: 10px;

    h4
    {
        font-size: $size1;
    }
    .text
    {
        font-size: $size2;
    }
    .price
    {
        font-size: $size3;
    }

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $size1: $size1 + 2px;
            $size2: $size2 + 1px;
            $size3: $size3 + 5px;

            h4
            {
                font-size: $size1;
            }
            .text
            {
                font-size: $size2;
            }
            .price
            {
                font-size: $size3;
            }
        }
    }
}

%our-menu-title-offset
{
    $offset: 20%;

    h2, h3
    {
        margin-right: $offset;
    }

    @each $_key, $_value in $breakpoints
    {
        @include media-min($_key)
        {
            $offset: $offset - 10%;

            h2, h3
            {
                margin-right: clamp(0%, $offset ,15%);
            }
        }
    }
}