// Colors
<<<<<<< HEAD
$orange: rgb(186, 153, 91);
$lightorange : rgba(223, 188, 123, 0.196);
$backgroundorange : rgba(223, 199, 154, 0.196);
=======
<<<<<<< HEAD
$orange: rgb(186, 153, 91);
=======
$orange: rgb(186, 153, 91);
$lightorange : rgba(223, 188, 123, 0.196);
$backgroundorange : rgba(223, 199, 154, 0.196);
>>>>>>> ac1428c1a008f59c1fbfb6216c769c91210fb110
>>>>>>> okly
